[submodule "vim/runtimes/rust.vim"]
	path = vim/runtimes/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/runtimes/vim-toml"]
	path = vim/runtimes/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/runtimes/vim-commentary"]
	path = vim/runtimes/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/runtimes/vim-fugitive"]
	path = vim/runtimes/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/runtimes/vim-surround"]
	path = vim/runtimes/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/runtimes/vim-hardy"]
	path = vim/runtimes/vim-hardy
	url = https://github.com/4Evergreen4/vim-hardy
[submodule "vim/runtimes/vim-scrawl"]
	path = vim/runtimes/vim-scrawl
	url = https://github.com/4Evergreen4/vim-scrawl
[submodule "vim/runtimes/vim-unimpaired"]
	path = vim/runtimes/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/runtimes/vim-repeat"]
	path = vim/runtimes/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/runtimes/haskellmode-vim"]
	path = vim/runtimes/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim
[submodule "vim/runtimes-python/vim-javacomplete2"]
	path = vim/runtimes-python/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "i3/dex"]
	path = i3/dex
	url = https://github.com/jceb/dex
