[submodule "i3/dex"]
	path = i3/dex
	url = https://github.com/jceb/dex
[submodule "i3/i3lock-fancy"]
	path = i3/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy
[submodule "shell/zsh/zsh-z"]
	path = shell/zsh/zsh-z
	url = https://github.com/agkozak/zsh-z
