@import "mocha.css";
@define-color foreground @text;
@define-color foreground-inactive @subtext1;
@define-color background @base;
@define-color background-alt @mantle;

* {
    font-family: "Symbols Nerd Font Mono", "Iosevka Fixed";
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 1em;
    padding-right: 1.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 3px;
}

#wireplumber,
#bat,
#tray,
#usage,
#net {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
    margin-right: 0.8em;
}
